/* Estilos para el menu */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav-right {
  float: right;
}

/* section cuerpo principal */

section {
  width: 79%;
  float: left;
  overflow: auto;
  padding-bottom: 60px;
  padding-top: 30px;
  margin: 10px;
}

/* footer */

footer {
  clear: both;
}

#ColumnaFotter {
  column-count: 3;
}

#borde {
  border: 1px solid red;
}

/*LINKS*/

/* unvisited link */

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  white-space: nowrap;
}

footer {
  width: 100%;
}
